@charset "UTF-8";
@import url("../css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,600;1,700&display=swap");
@font-face {
  font-family: raleway;
  src: url(../font/Raleway-SemiBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: poppins;
  src: url(../font/Poppins-Light.ttf);
  font-weight: bold;
}

@font-face {
  font-family: poppins-bold;
  src: url(../font/Poppins-Bold.ttf);
  font-weight: bold;
}

*, *::before, *::after {
  box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.5s ease-in;
}

::scrollbar {
  width: 10px;
}

/* Track */
::scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::scrollbar-thumb {
  background: #eee;
}

/* Handle on hover */
::scrollbar-thumb:hover {
  background: #555;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

ul, li {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: poppins;
}

body {
  margin: 0px !important;
  font-family: "Nunito", sans-serif;
}

#landing-page {

  background-color: #e5f1fd;
  width: 100%;
  height: 120vh;
  font-family: raleway;
}

#landing-page span{

  font-family: poppins-bold;
}

.btn1 {

  background-color: #4884df;
  color: #fff;
  padding: 15px;
  border-radius: 10px 10px 10px 10px;
  width: 20%;
}

.btn1:hover {
  border: 2px solid #4884df;
  color: #000;
  background-color: transparent;
}

.btn2 {
  border: 2px solid #610000;
  color: #610000;
  padding: 15px;
  border-radius: 10px 10px 10px 10px;
  width: 20%;
}

.btn2:hover {
  background-color: #610000;
  color: #fff;
}


.landing-img img{

  border-radius: 30px 30px 30px 30px;
  margin-top: -28%;
  height: 30rem;
  width: 60rem;
}

.about {
  margin-top: 15rem !important;
}

#about {

  margin-top: 7rem !important;
}

#about h2{
  padding-right: 3rem!important;
  padding-left: 3rem!important;
  margin-right: 3rem!important;
  margin-left: 3rem!important;
}

.aboutbtn{

  border: 2px solid #610000;
  padding: 10px 30px 10px 30px;
  color: #610000;
  border-radius: 60px 60px 60px 60px;

}

.aboutbtn2 {

  background-color: #610000;
  color: #fff;
  padding: 15px;
  border-radius: 10px 10px 10px 10px;
}

.aboutbtn2:hover{

  border: 2px solid #610000;
  color: #000;
  background-color: transparent;

}

.card{

  border-radius: 10% !important;
  border: none;
}

.card img{

  border-radius: 0% 0% 10% 10% !important;
  height: 210px !important;
}

.card h4{

  font-family: poppins-bold;
}
/********** RESPONSIVENESS **********/

/* For 480 Resolution - Laptop*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* STYLES GO HERE */
}

/* For 640 Resolution - mobile */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {

  #landing-page{

   height: 80vh;

  }
 
  .landing-img img{

    margin-top: -40%;
    max-width: 100%;
    height: auto;
  }

  .btn1 {

    width: 70%;
    margin-bottom: 1.5rem;
  }

  .btn2 {

    width: 70%;
  }

  .aboutbtn2 {

    width: 70%;
  }

  #about {

    margin-top: 3rem !important;

  }

  .about {
    margin-top: 10rem !important;
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
    margin-right: 2.7rem!important;
    margin-left: 0.5rem!important;
  }
}

/* For 1024 Resolution - laptop 1 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* STYLES GO HERE */
}

/* For 1366 Resolution  -- laptop 2*/
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  /* STYLES GO HERE */
}

/** desktop screen */
@media only screen and (min-width: 1370px) and (max-width: 1605px) {
  /* STYLES GO HERE */
}

/*Ipad Orientation : Landscape */
@media only screen and (orientation: landscape) and (min-device-pixel-ratio: 1) and (min-device-width: 768px) and (max-device-width: 1007px) {
  /* STYLES GO HERE */
}

/*ipad Orientation : Portrait */
@media only screen and (orientation: portrait) and (min-device-pixel-ratio: 1) and (min-device-width: 768px) and (max-device-width: 1007px) {
  /* STYLES GO HERE */
}